body {
    background-color: black;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    position: fixed;
    top: 70%;
    left: 32%;
}